.main-footer {
  background-color: #fff;
  box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 25px 0px;
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

.footer-bottom {
  font-size: 14px;
}
