<header class="header" id="header">
  <nav class="nav container">
    <img class="nav_logo" src="../../../assets/logo.png" routerLink="/" />
    <form class="search-form">
      <mat-form-field class="search">
        <mat-label>Search</mat-label>
        <input
          type="search"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          placeholder="Search..."
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let user of filteredUsers | async"
            [value]="user.firstName"
          >
            <div class="user-info" (click)="navigateToUserProfile(user.id)">
              <img
                *ngIf="user.profileImageUrl; else noImage"
                class="user"
                [src]="user.profileImageUrl"
                alt="User Image"
              />
              <ng-template #noImage>
                <img
                  src="../../../assets/profile-icon.png"
                  class="user"
                  alt="Default Profile Image"
                />
              </ng-template>
              <div class="text-content">
                <span class="name">
                  {{ user.firstName }} {{ user.lastName }}
                </span>
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="nav__icons">
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li
            class="nav__item"
            routerLinkActive="active-link"
            matTooltip="Home"
          >
            <a routerLink="/" class="nav__link">
              <mat-icon>home</mat-icon>
            </a>
          </li>
          <li
            class="nav__item"
            routerLinkActive="active-link"
            matTooltip="Profile"
          >
            <a (click)="navigateToCurrentUserProfile()" class="nav__link">
              <mat-icon>person</mat-icon>
            </a>
          </li>
          <li
            class="nav__item"
            routerLinkActive="active-link"
            routerLink="/messages"
            matTooltip="Messages"
          >
            <a routerLink="/messages" class="nav__link">
              <mat-icon>message</mat-icon>
            </a>
          </li>
          <li
            class="nav__item"
            routerLinkActive="active-link"
            matTooltip="Notifications"
          >
            <a routerLink="/notifications" class="nav__link">
              <mat-icon>notifications</mat-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="nav__logout">
        <button
          mat-icon-button
          [matMenuTriggerFor]="profileMenu"
          aria-label="Profile Menu"
        >
          <img
            *ngIf="profileImageUrl; else defaultIcon"
            [src]="profileImageUrl"
            alt="Profile Image"
            class="profile-img"
          />
          <ng-template #defaultIcon>
            <img
              src="../../../assets/profile-icon.png"
              class="profile-img"
              alt="Default Profile Image"
            />
          </ng-template>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="openRateAppDialog()">Rate app</button>
          <button mat-menu-item (click)="authenticationService.logout()">
            Logout
          </button>
        </mat-menu>
      </div>
    </div>
    <img src="assets/img/perfil.png" alt="" class="nav__img" />
  </nav>
</header>
