.statistics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.title {
  margin-top: 70px;
  padding: 30px;
  text-align: center;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
}

.rating-details,
.additional-details {
  padding: 0 50px;
}

.additional-details p,
.rating-details p {
  white-space: nowrap;
  margin-bottom: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.rating-details {
  margin-right: 50px;
  margin-top: 25px;
}

.stars {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.stars mat-icon {
  color: #ffc107;
  font-size: 24px;
}

.rate,
.additional {
  padding: 5px 10px;
  margin: 0 10px;
  color: #fff;
  background-color: #512da8;
  border-radius: 100%;
}

.average {
  padding: 12px 10px;
  margin: 0 10px;
  color: #fff;
  background-color: #512da8;
  border-radius: 100%;
}

.additional-details {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .statistics-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .title {
    margin-top: 70px;
    margin-bottom: -20px;
  }

  .rating-details,
  .additional-details {
    padding: 0 20px;
  }

  .rating-details {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .stars {
    margin-right: 5px;
  }

  .stars mat-icon {
    font-size: 20px;
  }

  .rate,
  .additional {
    padding: 5px 10px;
    margin: 0 5px;
  }

  .average {
    padding: 8px;
    margin: 0 5px;
  }

  .additional-details {
    margin-left: 0;
  }

  .rating-details p,
  .additional-details p {
    margin-bottom: 20px;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 30px;
  }
}
