<app-navbar></app-navbar>
<div class="content">
  <div class="notifications">
    <div class="header">
      <h1>Notifications</h1>
      <button (click)="markAllAsRead()" class="mark-all-button">
        Mark All as Read
      </button>
    </div>
    <div
      *ngFor="let notification of notifications$ | async"
      class="notification"
      [class.bold]="!notification.isRead"
      (click)="onNotificationClicked(notification)"
    >
      <img
        [src]="
          notification.profileImageUrl || '../../../assets/profile-icon.png'
        "
        alt="Profile Image"
        width="50"
        height="50"
        (error)="
          notification.profileImageUrl = '../../../assets/profile-icon.png'
        "
      />
      <div class="notification-text">
        <span class="notification-message">
          {{ notification.firstName }} {{ notification.message }}
        </span>
        <span class="notification-timestamp">
          {{ notification.timestamp | date : "short" }}
        </span>
      </div>
    </div>
  </div>
</div>
