<app-navbar></app-navbar>
<div class="content">
  <div class="notifications">
    <h1>Notifications</h1>
    <div
      *ngFor="let notification of notifications$ | async"
      class="notification"
    >
      <img
        [src]="
          notification.profileImageUrl || '../../../assets/profile-icon.png'
        "
        alt="Profile Image"
        width="50"
        height="50"
        (error)="
          notification.profileImageUrl = '../../../assets/profile-icon.png'
        "
      />
      <div class="notification-text">
        <span class="notification-message">{{ notification.message }}</span>
        <span class="notification-timestamp">{{
          notification.timestamp | date : "short"
        }}</span>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
