<div class="content">
  <div class="main-content">
    <div *ngIf="messages$ | async as messages">
      <div *ngFor="let message of messages" class="message">
        <div *ngIf="message.senderId === currentUserId" class="message-sent">
          <span class="message-date">
            {{ message.timestamp | date : "d MMMM, yyyy" }} at
            {{ message.timestamp | date : "h:mm a" }}
          </span>
          <span class="message-text">{{ message.message }}</span>
        </div>
        <div
          *ngIf="message.senderId !== currentUserId"
          class="message-received"
        >
          <span class="message-text">{{ message.message }}</span>
          <span class="message-date">
            {{ message.timestamp | date : "d MMMM, yyyy" }} at
            {{ message.timestamp | date : "h:mm a" }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="message-area">
    <mat-form-field appearance="fill" class="message-form">
      <mat-label>Send a message</mat-label>
      <textarea
        rows="2"
        matInput
        placeholder="Write something..."
        [(ngModel)]="messageText"
        (keyup.enter)="sendMessage()"
      ></textarea>
    </mat-form-field>
    <button mat-icon-button class="send-icon" (click)="sendMessage()">
      <mat-icon color="accent">send</mat-icon>
    </button>
  </div>
</div>
