.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
  padding-top: 15px;
  position: relative;
}

@media (min-width: 769px) {
  .content {
    height: calc(100vh - 140px);
  }
}

@media (max-width: 768px) {
  .content {
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }
}

.right-panel-header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-panel-header button {
  margin-right: 10px;
}

.user-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.name-bar {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.text-content {
  font-size: 1.2rem;
  font-weight: 500;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.main-content::-webkit-scrollbar {
  width: 12px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.main-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.main-content {
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .main-content {
    width: 80%;
  }
}

.message-area {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  width: 90%;
  left: 50%;
}

@media (max-width: 767px) {
  .message-area {
    padding-bottom: 70px;
    width: 80%;
  }
}

.message-form {
  flex: 1;
  margin-right: 10px;
}

.send-icon {
  display: flex;
  align-items: center;
}

.message {
  margin-bottom: 5px;
}

.message-sent {
  text-align: right;
}

.message-received {
  text-align: left;
}

.message-text {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message-sent .message-text {
  background-color: #e91e63;
  color: white;
  font-size: 0.9rem;
  text-align: left;
}

.message-received .message-text {
  background-color: #f0f0f0;
  font-size: 0.9rem;
  text-align: left;
}

.message-date {
  font-size: 0.8em;
  color: #666;
  margin: 0 10px;
}
