<div class="add-pet">
  <div class="pet-image">
    <img
      *ngIf="imageUrl; else defaultImage"
      [src]="imageUrl"
      alt="Profile Image"
    />
    <ng-template #defaultImage>
      <img src="../../../assets/add-pet.png" alt="Profile Image" />
    </ng-template>
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField type="file" hidden (change)="onImageSelected($event)" />
  <div class="pet-name">
    <mat-form-field appearance="fill">
      <mat-label>Pet name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter your pet name"
        [(ngModel)]="petName"
      />
    </mat-form-field>
  </div>
  <div class="description">
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Tell us more about your pet"
        [(ngModel)]="petDescription"
        rows="4"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="add-pet-button">
    <button
      mat-raised-button
      color="primary"
      class="add"
      (click)="addPet()"
      [disabled]="!petName || !selectedImage || !petDescription"
    >
      Add pet
    </button>
    <button mat-button *ngIf="isSaving" class="button-loader">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </button>
  </div>
</div>
