.add-pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.pet-image {
  margin: 30px 0 30px 0;
  position: relative;
}

.pet-image img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.pet-image button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

button {
  margin-top: 20px;
}
