<div class="add-pet">
  <div class="pet-image">
    <img
      *ngIf="imageUrl; else defaultImage"
      [src]="imageUrl"
      alt="Profile Image"
    />
    <ng-template #defaultImage>
      <img src="../../../assets/add-pet.png" alt="Profile Image" />
    </ng-template>
    <button mat-mini-fab *ngIf="isOwner" (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField type="file" hidden (change)="onImageSelected($event)" />

  <div class="pet-name">
    <mat-form-field appearance="fill">
      <mat-label>Pet name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter your pet name"
        [(ngModel)]="petName"
        [readonly]="!isOwner"
      />
    </mat-form-field>
  </div>

  <div class="pet-age-row">
    <mat-form-field appearance="fill" class="pet-age" [style.width.px]="101">
      <mat-label>Year</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter year"
        min="1"
        [(ngModel)]="petYear"
        [readonly]="!isOwner"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="pet-age" [style.width.px]="101">
      <mat-label>Month</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter month"
        min="1"
        max="11"
        [(ngModel)]="petMonth"
        [readonly]="!isOwner"
      />
    </mat-form-field>
  </div>

  <div class="description">
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Tell us more about your pet"
        [(ngModel)]="petDescription"
        [readonly]="!isOwner"
        rows="4"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="add-pet-button">
    <button
      mat-raised-button
      *ngIf="isOwner"
      color="primary"
      class="add"
      (click)="savePet()"
      [disabled]="
        !petName ||
        (!petYear && !petMonth) ||
        !petDescription ||
        (!isEditing && !selectedImage)
      "
    >
      {{ isEditing ? "Update pet" : "Add pet" }}
    </button>
    <button mat-button *ngIf="isSaving" class="button-loader">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </button>
  </div>
</div>
