.content {
  min-height: calc(100vh - 40px);
}

.profile-info {
  margin-top: 100px;
  background-color: #fff;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  display: flex;
}

.profile-image img {
  width: 160px;
  height: 160px;
  margin-top: 20px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative;
}

.profile-image button {
  position: absolute;
  bottom: 8px;
  right: 10%;
}

.right-side {
  margin: 50px 0 0 50px;
}

.add {
  margin-left: 0;
  margin-right: auto;
  display: flex;
}

.add button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add .button-add button {
  width: 50px;
  height: 50px;
}

.add mat-icon {
  font-size: 26px;
}

.delete-button {
  bottom: 72%;
  left: 62%;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #ff4c4c;
}

.delete-button mat-icon {
  font-size: 19px;
  color: white;
  border-radius: 100%;
}

.pet-image img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 5px 0 5px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.button-loader {
  top: 50%;
  left: 10%;
}

.actions-container {
  margin-top: 20px;
  background-color: #fff;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  padding: 10px 0 10px 0;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.link-actions,
.button-actions {
  padding: 0 10px 0 10px;
  display: flex;
}

.link-actions p {
  margin-top: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.button-actions {
  margin-top: 20px;
}
