<app-navbar></app-navbar>

<div class="content">
  <div class="profile-info" *ngIf="userProfile">
    <div class="profile-image">
      <img
        *ngIf="userProfile?.profileImageUrl"
        [src]="userProfile.profileImageUrl"
        alt="Profile Image"
      />
      <img
        *ngIf="!userProfile?.profileImageUrl"
        src="../../../assets/profile-icon.png"
        alt="Default Profile Image"
      />
      <button mat-button *ngIf="isUploading" class="button-loader">
        <mat-spinner color="accent" diameter="30"></mat-spinner>
      </button>
      <button
        mat-mini-fab
        *ngIf="currentUserId === uid"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="inputField.click()">Choose Image</button>
        <button
          mat-menu-item
          *ngIf="userProfile.profileImageUrl"
          (click)="deleteImage()"
        >
          Delete Image
        </button>
      </mat-menu>
    </div>
    <input #inputField type="file" hidden (change)="onImageSelected($event)" />
    <div class="right-side">
      <div class="name">
        <h1>{{ userProfile.firstName }} {{ userProfile.lastName }}</h1>
      </div>
      <div class="add">
        <div class="button-add">
          <button
            mat-mini-fab
            *ngIf="currentUserId === uid"
            color="primary"
            matTooltip="Add pet"
            (click)="openAddPetDialog()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div *ngFor="let pet of pets" class="pet-image">
          <img
            [src]="pet.imageUrl"
            alt="Pet Image"
            #tooltip="matTooltip"
            [matTooltip]="pet.name"
            (click)="openEditPetDialog(pet)"
          />
          <button
            mat-mini-fab
            *ngIf="currentUserId === uid"
            (click)="deletePet(pet)"
            class="delete-button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="actions-container">
    <div class="link-actions">
      <div class="posts">
        <p>{{ postCount }}</p>
        <button mat-button color="accent">Posts</button>
      </div>
      <div class="followers">
        <p>0</p>
        <button mat-button color="accent">Followers</button>
      </div>
      <div class="following">
        <p>
          {{
            uid === currentUserId
              ? followingCountCurrentUser
              : followingCountDisplayedUser
          }}
        </p>
        <button mat-button color="accent">Following</button>
      </div>
    </div>
    <div class="button-actions">
      <button
        mat-raised-button
        *ngIf="currentUserId === uid"
        color="primary"
        (click)="openAddPostDialog()"
      >
        Add new post
      </button>
      <ng-container *ngIf="currentUserId !== uid">
        <button
          mat-raised-button
          [color]="isFollowingUser ? 'warn' : 'primary'"
          (click)="isFollowingUser ? unfollowUser() : followUser()"
        >
          {{ isFollowingUser ? "Unfollow" : "Follow" }}
        </button>
      </ng-container>
    </div>
  </div>
  <app-post
    (postCount)="onPostCountChange($event)"
    [userProfile]="userProfile"
  ></app-post>
</div>
<footer><app-footer></app-footer></footer>
