<body>
  <form [formGroup]="form">
    <div class="form-container">
      <h1>Sign up</h1>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input
          type="text"
          matInput
          placeholder="First name"
          formControlName="firstname"
        />
        @if (form.get('firstname')!.hasError('required')) {
        <mat-error>First name is required</mat-error>
        } @if (form.get('firstname')!.hasError('pattern')) {
        <mat-error>First name is invalid</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input
          type="text"
          matInput
          placeholder="Last name"
          formControlName="lastname"
        />
        @if (form.get('lastname')!.hasError('required')) {
        <mat-error>Last name is required</mat-error>
        } @if (form.get('lastname')!.hasError('pattern')) {
        <mat-error>Last name is invalid</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
          formControlName="email"
          #userEmail
        />
        @if (form.get('email')!.hasError('required')) {
        <mat-error>Email is required</mat-error>
        } @if (form.get('email')!.hasError('pattern')) {
        <mat-error>Email is invalid</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <div class="password-input-wrapper">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            matInput
            placeholder="Password"
            formControlName="password"
            #userPassword
          />
          <mat-icon (click)="togglePasswordVisibility()">{{
            showPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </div>
        @if (form.get('password')!.hasError('required')) {
        <mat-error>Password is required</mat-error>
        } @if (form.get('password')!.hasError('minlength')) {
        <mat-error>Minimum 8 characters</mat-error>
        } @if (form.get('password')!.hasError('pattern')) {
        <mat-error>Requires uppercase, lowercase, and digit</mat-error>
        }
      </mat-form-field>
      <button
        mat-raised-button
        class="register"
        color="primary"
        test-id="login-button"
        [disabled]="!form.valid"
        (click)="
          authenticationService.signUp(userEmail.value, userPassword.value)
        "
      >
        Register
      </button>
      <button mat-button class="login" routerLink="/signin">
        Already have an account?
      </button>
    </div>
  </form>
  <div class="loader-container" *ngIf="isRegistering">
    <div class="loader" test-id="login-loader">
      <mat-spinner color="accent" diameter="70"></mat-spinner>
    </div>
  </div>
</body>
