.content {
  margin-top: 20px;
  background-color: #fff;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  padding-bottom: 40px;
}

.profile-image {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin-left: 20px;
}

.user-card {
  display: flex;
}

h1 {
  padding: 20px 0 0 30px;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
}

.user-info h3 {
  color: #673ab7;
  font-weight: 500;
  margin: 35px 0 0 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.user-info h3:hover {
  color: mix(#9e9e9e, #673ab7, 50%);
}
